# **Global Freelancers Dataset**

# **Import Library**

In [5]:
import pandas as pd

# **Memuat Dataset**

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
path = '/content/drive/MyDrive/Data Praktikum AVD/global_freelancers_raw.csv'

In [9]:
df = pd.read_csv(path)
df

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

# **Business Understanding**

## **Business Objective**

Di era perkembangan teknologi dan internet yang semakin hari semakin canggih membuat pekerjaan freelancer memiliki banyak peminat. Banyak orang memilih untuk melakukan pekerjaan freelancer karena pekerjaannya yang fleksibel, serta memiliki potensi untuk mendapatkan penghasilan tak terbatas. Tujuan utama dari analisis berdasarkan dataset ini adalah untuk mengetahui bagaimana penyebaran pekerjaan freelancer paling banyak di dunia, skill apa yang paling banyak dimiliki oleh freelancer, bagaimana pengalaman yang lebih tinggi dapat memengaruhi pendapatan freelancer, serta membandingkan pendapatan freelancer dari berbagai negara. Data ini dapat digunakan untuk memahami bagaimana kondisi dan karakteristik freelancer secara global.

## **Assess Situation**

Dataset ini berisi data mentah tentang freelancer fiktif dari berbagai dunia. Data ini memuat informasi seperti identitas freelancer, skill yang dimiliki, asal negara, pengalaman, rating, dan beberapa informasi lainnya yang datanya tidak konsisten, format data yang masih berantakan, dan data palsu yang dibuat dari library palsu menggunakan Python. Dari data ini tidak ada yang menggunakan data asli berdasarkan dunia nyata, namun data ini dapat membantu untuk melihat bagaimana pola dan perbandingan freelancer secara keseluruhan di dunia, di mana informasi ini dapat digunakan untuk memahami kondisi pasar freelancer dan faktor apa yang memengaruhi pendapatan freelancer.

## **Analytic Goals & Project Plan**

Dalam analisis dataset ini akan dilakukan tahapan, antara lain:
1. Memahami, membersihkan, dan menyiapkan data.
2. Menganalisis dan mengidentifikasi pola atau tren yang ada.
3. Membuat grafik untuk menampilkan hasil dari analisis.
4. Memberikan insight atau kesimpulan berdasarkan data.